/* CLEARFIX */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1;
  /* ie 6/7 */ }

/* General Styles */
body {
  padding: 0;
  margin: 0;
  position: relative;
  line-height: 1.6em;
  background: linear-gradient(#CFD2E6, #FFF);
  background-repeat: no-repeat;
  background-size: 100% 200px; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%; }

/* Header Styles */
header {
  padding: 20px 0 0 0;
  margin: 0 auto; }
  header img {
    display: block;
    margin: 0 auto;
    width: 250px; }
  header h1 {
    font-family: 'Cardo', serif;
    font-weight: 400;
    text-align: center;
    font-size: 2em;
    margin-top: 0;
    color: #000; }
  header hr {
    width: 30%; }
  header h2 {
    font-family: 'Cardo', serif;
    font-weight: 400;
    text-align: center;
    font-size: 1em;
    color: #607D8B; }
  header ul {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    border-radius: 5px; }
    header ul li {
      text-align: center;
      list-style-type: none; }
      header ul li a {
        display: block;
        padding: 10px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        text-decoration: none;
        background: #AAA;
        color: #FFF;
        margin: 10px 0;
        border: #504C41 2px solid; }

a.about:hover {
  background: #AAA;
  color: #FFF;
  transition: .4s ease; }

a.design:hover {
  background: #AAA;
  color: #FFF;
  transition: .4s ease; }

a.frontend:hover {
  background: #AAA;
  color: #FFF;
  transition: .4s ease; }

main {
  margin: 0 auto;
  padding-bottom: 103px; }

/* Home */
.intro {
  font-family: 'Cardo', serif;
  font-weight: 400;
  text-align: center;
  margin: 2.5%;
  padding: 10px;
  display: block;
  background: #FFF;
  border: 1px solid #DDD; }
  .intro h1 {
    text-align: center;
    font-size: 2em;
    margin: 20px; }
  .intro h2 {
    font-size: 2em;
    margin: 25px; }
  .intro p {
    width: 90%;
    margin: 10px auto;
    font-size: 1.2em;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400; }
  .intro img {
    width: 25%; }

.intro_wrapper {
  background-image: url(../img/sayagata.png);
  padding: 5px;
  margin: 20px auto;
  box-sizing: border-box; }

.intro_about {
  background-repeat: no-repeat;
  background-position: center center; }

/* Portfolio */
.portfolio_select .project {
  text-align: center;
  margin: 0 5%;
  padding-bottom: 20px; }
  .portfolio_select .project h2 {
    font-family: 'Cardo', serif;
    font-weight: 400; }
  .portfolio_select .project ul {
    list-style-type: none;
    margin: 30px auto;
    display: block; }
  .portfolio_select .project li {
    display: inline-block; }
    .portfolio_select .project li img {
      height: 200px; }
  .portfolio_select .project p {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 1.2em; }
  .portfolio_select .project .projectpic {
    height: 200px; }

/* Front End */
.frontend .project {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  font-family: "Cardo";
  font-weight: 400;
  display: block;
  margin-bottom: 20px; }
  .frontend .project p {
    font-size: 1.2em; }
  .frontend .project p, .frontend .project span {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400; }
  .frontend .project img {
    height: 250px;
    background: #D6D0D0;
    width: 100%;
    max-width: 300px; }
  .frontend .project ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0; }
    .frontend .project ul li {
      display: inline-block;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 400;
      padding: 10px;
      background: #CCC;
      margin-bottom: 5px; }

.sitelink {
  font-size: 1.4em;
  text-decoration: none;
  font-weight: 600;
  display: block;
  background: #7A9BB7;
  color: #FFF;
  width: 60%;
  margin: 30px auto;
  border-radius: 8px;
  padding: 5px;
  transition: .3s ease; }
  .sitelink:hover {
    width: 70%;
    border-left: 4px solid #3A4B58;
    border-right: 4px solid #3A4B58;
    transition: .3s ease;
    color: #000; }

.list {
  display: block;
  width: 40px;
  color: #FFF;
  text-decoration: none; }
  .list:hover {
    transition: .3s ease;
    color: #000; }

/* Case Study */
.case_study {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 40px; }
  .case_study h1 {
    color: red; }
  .case_study h2 {
    font-family: 'Cardo', serif;
    font-weight: 600;
    font-size: 1.6em;
    color: #000; }
  .case_study p {
    font-size: 1.2em;
    margin: 20px auto; }
  .case_study .challenge {
    margin: 50px auto 0 auto; }
    .case_study .challenge ol {
      padding: 0;
      margin: 0; }
    .case_study .challenge li {
      color: #000;
      margin-left: 50px;
      padding: 10px;
      border-radius: 5px;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 600;
      font-size: 1.2em; }
  .case_study .concepting {
    margin-top: 30px;
    margin: 0 auto; }
    .case_study .concepting ul {
      padding: 0;
      list-style-type: none; }
      .case_study .concepting ul li img {
        width: 100%; }
  .case_study .slide_wrapper {
    background: #EEE;
    margin-bottom: 30px; }
  .case_study .controls {
    text-align: center; }
  .case_study .prev {
    float: left; }
  .case_study .next {
    float: right; }
  .case_study .wireframes, .case_study .thumbnails, .case_study .mockups {
    width: 80%;
    margin: 10px auto;
    overflow: hidden;
    border-bottom: 3px solid #444; }
    .case_study .wireframes p, .case_study .thumbnails p, .case_study .mockups p {
      text-align: center; }
    .case_study .wireframes ul, .case_study .thumbnails ul, .case_study .mockups ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      position: relative; }
      .case_study .wireframes ul li, .case_study .thumbnails ul li, .case_study .mockups ul li {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background: #EEE;
        display: block;
        opacity: 0;
        transition: .5s ease; }
        .case_study .wireframes ul li a, .case_study .thumbnails ul li a, .case_study .mockups ul li a {
          display: block;
          height: 200px;
          border-bottom: 2px solid #444;
          overflow: hidden; }
          .case_study .wireframes ul li a:hover, .case_study .thumbnails ul li a:hover, .case_study .mockups ul li a:hover {
            height: 196px;
            border-bottom: 6px solid #444; }
      .case_study .wireframes ul .active, .case_study .thumbnails ul .active, .case_study .mockups ul .active {
        z-index: 10;
        opacity: 1;
        transition: .5s ease;
        position: relative; }
      .case_study .wireframes ul .last-active, .case_study .thumbnails ul .last-active, .case_study .mockups ul .last-active {
        z-index: 9;
        opacity: 0;
        transition: .5s ease; }
  .case_study .details {
    position: relative;
    display: block;
    width: 100%;
    margin: 30px 0; }
    .case_study .details a {
      display: block;
      margin-top: 70px;
      width: 15%; }
      .case_study .details a img {
        width: 80%; }
    .case_study .details h3 {
      position: absolute;
      font-size: 1.4em;
      padding: 10px;
      top: 0;
      width: 20%;
      margin: 0 40%;
      border-radius: 4px;
      text-align: center;
      opacity: 0; }
    .case_study .details p {
      background: #EEE;
      width: 100%;
      margin: 50px auto;
      opacity: 0;
      display: none;
      float: left; }
    .case_study .details .active {
      z-index: 10;
      opacity: 1;
      display: block;
      transition: .5s ease; }
    .case_study .details .last-active {
      z-index: 9;
      opacity: 0;
      transition: .5s ease; }
  .case_study .writeups {
    position: relative;
    float: left;
    width: 70%;
    display: block;
    padding-top: 20px; }
  .case_study .markup {
    margin: 0 auto; }
    .case_study .markup ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      text-align: center; }
      .case_study .markup ul li {
        width: 30%;
        display: inline-block; }
        .case_study .markup ul li:nth-child(2) {
          margin-left: 1.5%;
          margin-right: 1.5%; }
    .case_study .markup img {
      width: 100%; }
  .case_study .finished {
    margin: 40px auto;
    text-align: center; }

/* Footer */
footer {
  padding: 20px;
  background: #EBE5D9;
  border-top: 3px solid #AAA;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  line-height: 40px;
  z-index: 10; }
  footer p {
    font-family: 'Cardo', serif;
    font-weight: 400;
    font-size: 1.2em;
    text-align: center;
    margin: 0; }

@media screen and (min-width: 700px) {
  header ul {
    border-top: thick solid #AAA;
    border-bottom: thick solid #AAA;
    display: flex; }
    header ul li {
      width: 30%;
      display: inline-block;
      flex: 1; }
      header ul li a {
        background: none;
        color: #000;
        margin: auto;
        border: none; }

  .intro h2 {
    font-size: 1.5em; }

  .intro_subsections {
    margin: 0 auto; }
    .intro_subsections article {
      width: 45%; }
    .intro_subsections .intro_design {
      margin-right: 5%;
      float: left; }
    .intro_subsections .intro_frontend {
      margin-left: 5%;
      float: right; }

  .portfolio_select .project {
    width: 40%;
    float: left; }
    .portfolio_select .project h2 {
      height: 30px; }
    .portfolio_select .project p {
      height: 100px;
      font-size: 1em; }

  .case_study .wireframes, .case_study .thumbnails, .case_study .mockups {
    width: 30%;
    margin: 0 1.5%;
    flex: 1; }
  .case_study .details a {
    width: 15%;
    max-width: 150px; }
  .case_study .writeups {
    width: 70%; }

  .slideshow {
    display: flex; }

  .sitelink {
    font-size: 1.2em; }

  .list {
    width: 30px; }

  .frontend .project {
    float: left;
    width: 45%;
    margin: 0 2.5%;
    padding: 40px 0; }
    .frontend .project h2 {
      font-size: 1.2em; }
    .frontend .project p {
      height: 100px;
      font-size: 1em; } }
@media screen and (min-width: 1000px) {
  .intro h2 {
    font-size: 2em; }

  .case_study .details a {
    width: 15%; }
  .case_study .writeups {
    width: 70%; }

  .sitelink {
    font-size: 1.4em; }

  .list {
    width: 40px; }

  .portfolio_select .project h2 {
    font-size: 1.4em;
    height: auto; }
  .portfolio_select .project p {
    font-size: 1.2em; }

  .frontend .project h2 {
    font-size: 1.4em; }
  .frontend .project p {
    height: auto;
    font-size: 1.2em; } }

/*# sourceMappingURL=style.css.map */
