@import "clearfix";
@import "fonts";

/* General Styles */

body{
	padding:0; 
	margin:0;
	position: relative; 
	line-height: 1.6em;
}

.wrapper{

}

/* Header Styles */

header{

	padding: 20px 0 0 0;
	// width: 90%;
	margin: 0 auto;
	background: linear-gradient(#CFD2E6, #FFF);
	// background-image: url(../img/concrete.png);
	// background-repeat: repeat-x;

	h1{
		font-family: 'Cardo', serif;
		font-weight: 400;
		text-align: center;
		font-size:2em;
		margin-top:0;
		color: #000;
	}

	hr{
		width:30%;
	}

	h2{
		font-family: 'Cardo', serif;
		font-weight: 400;
		text-align: center;
		font-size: 1em;
		color:#607D8B;
	}

	ul{
		padding:0;
		margin:0 auto;
		text-align: center;
		width: 90%;
		font-family:'Josefin Sans', sans-serif;
		font-weight: 400;
		// border-top: thick solid #AAA;
		// border-bottom:thick solid #AAA;
    	border-radius: 5px;
		// display: flex;

		li{
			text-align: center;
			list-style-type: none;

			a{
				display: block;
				padding:10px;
				font-family: 'Josefin Sans', sans-serif;
				font-weight: 400;
				text-decoration: none;
				background: #AAA;
    			color: #FFF;
    			margin: 10px 0;
    			border: #504C41 2px solid;
			}
			
		}
	}
}

a.about:hover{
	// background: linear-gradient(#AAA, #B38585, #AAA);
	background: #AAA;
	color: #FFF;
	transition: .4s ease;
}

a.design:hover{
	// background: linear-gradient(#AAA, #8585B3, #AAA);
	background: #AAA;
	color: #FFF;
	transition: .4s ease;
}

a.frontend:hover{
	// background: linear-gradient(#AAA, #85B390, #AAA);
	background: #AAA;
	color: #FFF;
	transition: .4s ease;
}

main{
	// width:90%;
	margin: 0 auto;
	padding-bottom: 103px;
}

/* Home */

.intro{

	font-family: 'Cardo', serif;
	font-weight: 400;
	text-align: center;
	// width: 60%;
	// margin: 30px auto;
	margin: 2.5%;
	padding: 10px;
	display: block;
	// background-image: url(../img/sayagata.png);
	background: #FFF;
	border: 1px solid #DDD;

	h1{
		text-align: center;
		font-size: 2em;
		margin: 20px;
	}

	h2{
		font-size: 2em;
		margin: 25px;
	}

	p{
		width:90%;
		margin: 10px auto;
		font-size: 1.2em;
		font-family: "Josefin Sans", sans-serif;
		font-weight: 400;
	}
}

.intro_wrapper{
	background-image: url(../img/sayagata.png);
	width: 90%;
	padding: 5px;
	margin: 20px auto;
}

/* Portfolio */

.portfolio_select{

	// .intro{
	// 	font-family: 'Cardo', serif;
	// 	font-weight: 400;
	// 	text-align: center;
	// 	width: 60%;
	// 	margin: 30px auto;
	// 	padding: 10px;
	// 	display: block;
	// 	background: url(../img/sayagata.png);
	// 	border: 1px solid #DDD;

	// 	h1{
	// 		text-align: center;
	// 		font-size: 3em;
	// 		margin: 10px;
	// 	}

	// 	p{
	// 		width:80%;
	// 		margin: 0 auto;
	// 		font-size: 1.2em;
	// 	}
	// }

	.project{
    	text-align: center;
    	width: 45%;
    	float: left;
    	margin: 0 2.5%;
    	padding-bottom: 20px;

    	h2{
    		font-family: 'Cardo', serif;
    		font-weight: 400;
    	}

    	ul{
    		list-style-type: none;
    		padding:0;
    	}

    	li{
    		width:100%;

    		img{
    			// width: 50%;
    			height: 200px;
    		}
    	}

    	p{
    		font-family: "Josefin Sans", sans-serif;
    		font-weight: 400;
    		font-size: 1.2em;
    	}

    	.projectpic img{
    		height: 200px;
    	}
	}
}

/* Front End */

.frontend{

	.project{

		width: 60%;
		text-align: center;
		margin: 0 auto;
		font-family: "Cardo";
		font-weight: 400;
		display: block;
		margin-bottom: 20px;

		p{
			font-size: 1.2em;
		}

		p, span{
			font-family: "Josefin Sans", sans-serif;
			font-weight: 400;
		}


		img{
			// width: 70%;
			height: 250px;
			// padding: 20px 40px;
			background: #D6D0D0;
			width: 100%;
			max-width: 300px;
		}

		ul{
			list-style-type: none;
			padding:0;
			margin-top:0;

			li{
				display: inline-block;
				font-family: 'Josefin Sans', sans-serif;
				font-weight: 400;
				padding: 10px;
				background: #CCC;
				margin-bottom: 5px;
			}
		}

		
	}
}

.sitelink {
    font-size: 1.4em;
    text-decoration: none;
    font-weight: 600;
    display: block;
    // background: #767FB7;
    background: #7A9BB7;
    color: #FFF;
    width: 60%;
    margin: 30px auto;
    border-radius: 8px;
    padding: 5px;
}

/* Case Study */

.case_study{

	section{

		font-family: 'Josefin Sans', sans-serif;
		font-weight: 400;
		margin-bottom: 40px;

		&:nth-child(odd){
			// background: linear-gradient(#FFF, #EEE, #FFF);
		}

		h2{
			font-family: 'Cardo', serif;
			font-weight: 400;
			text-align: center;
		    font-size: 2em;
		    color: #000;
		    padding: 10px;
		    text-shadow: 1px 1px 1px #888686;
		    width: 60%;
		    margin: 0 auto;
		}

		p{
			font-size: 1.2em;
		    // text-align: center;
		    // width: 70%;
		    margin: 20px auto;
		}	

		hr{
			margin: 30px 0;
		}
	}

	.challenge{
		// width: 70%;
		margin: 0 auto;

		ol{
			padding:0;
			margin: 0;
		}

		li{
			// text-align: center;
		    // background: #7A9BB7;
		    width: 60%;
		    color: #000;
		    margin: 10px auto;
		    padding: 10px;
		    // text-shadow: 1px 1px 1px #000;
		    border-radius: 5px;
		    font-family: 'Josefin Sans', sans-serif;
		    font-weight: 600;
		    font-size: 1.2em;
		}
	}

	.concepting{
		margin-top:30px;
		// width: 70%;
		margin: 0 auto;

		ul{
			padding:0;
			list-style-type: none;

			li{
				// width:200px;

				img{
					width: 100%;
				}
			}
		}
	}

	.slide_wrapper{
		// background: linear-gradient(#FFF, #EEE, #FFF);
		background: #EEE;
		border: #AAA solid 2px;
		margin: 0 auto;
	}

	.controls{
		text-align: center;
	}

	.prev{
		float: left;
	}

	.next{
		float: right;
	}

	.wireframes, .thumbnails, .mockups{
		width: 80%;
    	height: 200px;
    	margin: 10px auto;
    	overflow: hidden;
    	border-bottom: 3px solid #000;
	
    	p{
    		text-align: center;
    	}

    	ul{
    		padding: 0;
    		margin: 0;
    		list-style-type: none;
    		position: relative;
    		// width: 600%;
    		// height: 360px;
    	
    		li{
    			position: absolute;
    			left: 0;
    			top: 0;
    			height: 100%;
    			background: #EEE;
    			// z-index: 8;
    			display: block;
    			// float: left;
    			// width: 16.6%;
    			opacity: 0;
    			transition: .5s ease;
    		}

    		.active{
    			z-index: 10;
    			opacity: 1;
    			transition: .5s ease;
    			position: relative;
    		}

    		.last-active{
    			z-index: 9;
    			opacity: 0;
    			transition: .5s ease;
    		}
    	}
	}

	.details{
		position: relative;
		display: block;
		width: 100%;
		margin: 30px 0;

		a{
			display: block;
			margin-top: 70px;
			width: 15%;

			img{
				width: 80%;
			}
		}

		h3{
			position: absolute;
    		background: #7A9BB7;
    		padding: 10px;
    		top: 0;
    		width: 20%;
    		margin: 0 40%;
    		color: #FFF;
    		border-radius: 4px;
    		text-align: center;
    		opacity: 0;
    	}

    	p{
    		// position: absolute;
    		background: #EEE;
    		width: 100%;
    		margin: 50px auto;
    		// height: 55px;
    		opacity: 0;
    		display: none;
    		float: left;
    	}

    	.active{
    		z-index: 10;
    		opacity: 1;
    		display: block;
    		transition: .5s ease;
    	}

    	.last-active{
    		z-index: 9;
    		opacity: 0;
    		transition: .5s ease;
    	}
	}

	.writeups{
		position: relative;
		float: left;
    	width: 70%;
    	display: block;
    	padding-top: 20px;
	}

	.markup{
		// width: 70%;
		margin: 0 auto;

		img{
			width: 100%;
		}
	}

	.finished{
		// width: 70%;
		margin: 40px auto;
		text-align: center;
	}

	.challenge, .concepting, .markup, .finished{
		width: 90%;
	}

}

/* Footer */

footer{
	padding: 20px;
	// background: url(../img/upfeathers.png);
	background: #EBE5D9;
	border-top: 3px solid #AAA;
	position: fixed;
	bottom:0;
	left:0;
	right:0;
	height: 40px;
	line-height: 40px;
	z-index: 10;

	p{
		// float:right;
		font-family: 'Cardo', serif;
		font-weight: 400;
		font-size: 1.2em;
		text-align: center;
		margin:0;
	}
}

@import "tablet";
@import "desktop";